@model ComponentViewModel

@{
    ViewBag.Title = @Model.Name;
    Layout = "_Layout";
}

<h1>Component</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Название</h2>
            <p>@Model.Name</p>
        </div>
        <div class="col">
            <img src="@Model.ImageUrl" alt="@Model.Name" width="200"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Описание</h2>
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Цена</h2>
            <p>@Model.Coast</p>
        </div>
    </div>
    <div>
        <button class="btn-primary btn-lg">
            @Html.ActionLink("Купить", "Order", new { id = Model.Id })
        </button>
    </div>
</div>